body {
  font-family: 'Open Sans Condensed';
  padding: 20px 40px;
  @media screen and (max-width: 800px) {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
/*👆 select all elements and remove the
browser's default box sizing set on all elements
It affects the size of our components so this is how
we remove them
*/
